<h2>Список ігор</h2>
<ul>
  {% for game in games %}
    <li>
      <a href="{% url 'game_detail' game.id %}">{{ game.title }}</a> — {{ game.price }} грн
    </li>
  {% endfor %}
</ul>
<a href="{% url 'home' %}">На головну</a>
<h2>Список ігор</h2>

<form method="get">
  <input type="text" name="q" placeholder="Пошук гри..." value="{{ query }}">
  <button type="submit">Шукати</button>
</form>

<ul>
  {% for game in games %}
    <li>
      <a href="{% url 'game_detail' game.id %}">{{ game.title }}</a> — {{ game.price }} грн
    </li>
  {% empty %}
    <li>Нічого не знайдено</li>
  {% endfor %}
</ul>

<a href="{% url 'home' %}">На головну</a>
